@import '../../variables';

.signup-form-container{
    width: 100%;
}

.signup-form-content{
    width: 100%;
    margin: 40px auto;
    overflow-x: hide;
};

.signup-form-illustration{
    width: 100%;
    height: 100%;
}