@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$font:'Tenali Ramakrishna', sans-serif;

$heading-font:'PT Sans', sans-serif;

$gray-color:#aaa;

$black-color:#000;

$highlight-color:coral;

$white-color:#fff;

$red-color:red;