@import '../../variables';

.about-section{
    width: 100%;
};

.about-section-img-container{
    width: 100%;
    margin-top: 30px;
}

.about-section-img{
    width: 100%;
    height: 350px;
    border-radius: 18px;
};

.about-section-content{
    width: 100%;
    margin-top: 30px;
}